<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>284722265158-dmp3g8ump8vonkst33o0tkjhmohomk53.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.284722265158-dmp3g8ump8vonkst33o0tkjhmohomk53</string>
	<key>API_KEY</key>
	<string>AIzaSyBzJnxbLVKHQRUbom7ToZ7fCSCvP2XDIBk</string>
	<key>GCM_SENDER_ID</key>
	<string>284722265158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.co.cloudvoca.TTS-Voca</string>
	<key>PROJECT_ID</key>
	<string>hausvoca-1566127690734</string>
	<key>STORAGE_BUCKET</key>
	<string>hausvoca-1566127690734.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:284722265158:ios:9d4ab7ca2f25b2a1</string>
	<key>DATABASE_URL</key>
	<string>https://hausvoca-1566127690734.firebaseio.com</string>
</dict>
</plist>